body {
    font-family: Arial Narrow;
}

.prohodchik-header {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    background-image: url(../images/bg-gradient.jpg);
    background-repeat: no-repeat;
}

.prohodchik-logo {
    margin-left: 50px;
    margin-right: 50px;
}

.prohodchik-brand {
    min-width: 190px;
    width: 190px;
    float: left;
}

.prohodchik-label {
    font-weight: bold;
    color: blue;
}

.header-block {
    min-width: 180px;
    width: 180px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 28px;
    float: right;
}

.vertical-line {
    margin-top: 28px;
    height: 60px;
    border-left: 1px solid lightgray;
}

.phone {
    font-size: 16px;
    font-weight: bold;
}
.email {
    font-size: 12px;
}

.btn-nav {
    min-width: 180px;
    width: 180px;
    height: 60px;
    border-left: 1px solid lightgray;
    white-space: normal;
    word-wrap: break-word;
}

.top-line {
    border-top: 2px solid cornflowerblue;
}

.prohodchik-navbar {
    margin-top: 8px;
    margin-bottom: 0px;
    width: 100%;
}

.invisible-xs {
    display: block !important;
}
.visible-xs {
    display: none !important;
}

.content-image {
    display: inline;
    float: left;
    width: 400px;
    height: 300px;
    margin-right: 20px;
}
.content-label {
    color: orange;
}

.content-text {
    font-size: 16px;
}

.content {
    display: inline-block;
}

.dropdown-menu {
    font-size: 18px;
    margin-left: 30%;
}

a.dropdown-toggle {
    color: orange;
    font-size: 20px;
}

@media (max-width: 610px) {
    .invisible-xs {
        display: none !important;
    }
    .visible-xs {
        display: block !important;
    }
    .content-image {
        width: 100%;
    }
    .btn-nav {
        height: 50px;
        padding-top: 5px;
        width: 50%;
        padding-bottom: 5px;
        border: 1px solid lightsteelblue;
    }
    .prohodchik-logo {
        margin-right: 10px;
        margin-left: 25px;
    }
    .prohodchik-brand {
        min-width: 120px;
        width: 120px;
        float: left;
    }
    .header-block {
        min-width: 130px;
        width: 130px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 39px;
        float: right;
    }
    .dropdown {
        margin: 10px 0;
    }
}

@media (max-width: 400px) {
    .btn-nav {
        width: 100%;
    }
}